# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Android Studio / Local
local.properties
captures/
.cxx/
.kotlin/

# Output
*.apk
*.aab
*.ap_
*.dex

# Logs and crash dumps
hs_err_pid*
*.log

# Native
.externalNativeBuild/

# Lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# OS
.DS_Store
Thumbs.db
